<section class="okp-layout" data-layout="image-text">
  <header data-fit-region="title"><div data-text-role="title">{{title}}</div></header>
  <div class="okp-main okp-pair">
    <figure class="okp-media"><img data-asset-slot="image" alt="{{image-description}}" /></figure>
    <article class="okp-stack" data-fit-region="description"><div data-text-role="heading">{{heading}}</div><div data-text-role="body">{{body}}</div><div data-text-role="caption">{{source-note}}</div></article>
  </div>
</section>
