<section class="okp-layout" data-layout="two-column">
  <header data-fit-region="title"><div data-text-role="title">{{title}}</div></header>
  <div class="okp-main okp-pair">
    <article class="okp-stack" data-fit-region="left"><div data-text-role="heading">{{left-heading}}</div><div data-text-role="body">{{left-body}}</div></article>
    <article class="okp-stack" data-fit-region="right"><div data-text-role="heading">{{right-heading}}</div><div data-text-role="body">{{right-body}}</div></article>
  </div>
</section>
